framework
lumberjack
blog
cms
assets
tagfield
siteconfig
reports
# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/
activedirectory/
multivaluefield/
queuedjobs/
.tmp
silverstripe-typekit/
node_modules
npm-debug.log
betterbuttons/
/blocks/
gridfieldextensions/
.DS_Store
uiowa-bar
.phpintel
codeeditorfield/
display_logic/
focuspoint/
bootstrap-forms/
youtubefield/
debugbar
division-analytics/
betternavigator/
